/* Font */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


.bricolage-grotesque-normal {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Style */

* {
  box-sizing: border-box;
  /* background-color: #F5F5F5; */
}

/* body {
  background-color: #F6F6F6;
} */

/* float" style="animation-delay: 0.4s; */
/* @keyframes float {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 2.5s ease-in-out infinite;
} */

