---
layout: default
---
<article class="post">
  {%- if page.image -%}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | append: page.image | relative_url }}" alt="" />
      </div>
  {%- endif -%}
  <header>
    <h1 class="postTitle">{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: '%B %d, %Y' }} | <span class="time">{{ page.content | number_of_words | divided_by:180 }}</span> Minute Read</p>
  </header>

  {{ content }}

  <!-- POST NAVIGATION -->
<footer class="postNav clearfix">
  <div class="nav-wrapper">

    {%- if page.previous.url -%}
      <div class="nav-item prev-post">
        <a href="{{ page.previous.url | relative_url }}">
          {%- if page.previous.image -%}
            <img src="{{ '/assets/img/' | append: page.previous.image | relative_url }}" alt="{{ page.previous.title }}" class="nav-thumb">
          {%- endif -%}
          <span class="nav-label">&laquo; Previous Post</span>
          <h4 class="nav-title">{{ page.previous.title }}</h4>
        </a>
      </div>
    {%- endif -%}

    {%- if page.next.url -%}
      <div class="nav-item next-post">
        <a href="{{ page.next.url | relative_url }}">
          {%- if page.next.image -%}
            <img src="{{ '/assets/img/' | append: page.next.image | relative_url }}" alt="{{ page.next.title }}" class="nav-thumb">
          {%- endif -%}
          <span class="nav-label">Next Post &raquo;</span>
          <h4 class="nav-title">{{ page.next.title }}</h4>
        </a>
      </div>
    {%- endif -%}

  </div>
</footer>

</article>
